/* Обнуление */
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}
/*--------------------------*/

body {
	display: flex;
	flex-direction: column;
	gap: 30px;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
	background-color: #faf8ef;
}

.menu {
	width: 540px;
	height: 540px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 30px;
	font-size: 24px;
	background: #bbada0;
	color: #fff;
	border-radius: 3px;
}

.start-button {
	font-size: 30px;
	padding: 10px 30px;
	border-radius: 3px;
	background: #8f7a66;
	color: #fff;
}

.difficulty-selection {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.difficulty-info {
	position: absolute;
	text-align: left;
	width: 300px;
	left: 200px;
	top: 0px;
	display: none; /* Скрыть по умолчанию */
	background-color: #fff;
	color: #000;
	font-size: 18px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

label:hover + .difficulty-info {
	display: block;
}

.header {
	display: none;
	width: 540px;
	grid-template-areas:
		"h s"
		"ng t";
	gap: 10px;
}

.game-label {
	grid-area: h;
	font-size: 60px;
	font-weight: 700;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #776e65;
}

.menu-button {
	grid-area: ng;
	display: inline-block;
	font-weight: 700;
	background: #8f7a66;
	border-radius: 3px;
	padding: 0 20px;
	color: #f9f6f2;
	height: 50px;
	width: 140px;
	font-size: 18px;
	margin: auto;
}

.score-board {
	grid-area: s;
	display: flex;
	flex-direction: row;
	font-size: 20px;
	gap: 20px;
	justify-content: center;
}

.score-label {
	width: 87px;
	padding: 6px 12px;
	background-color: #bbada0;
	border-radius: 3px;
	font-weight: 700;
	color: #eee4da;
}

.score-counter {
	margin-top: 5px;
	display: block;
	text-align: center;
	color: #fff;
}

.best-score-label {
	width: 134px;
	padding: 6px 12px;
	background-color: #bbada0;
	border-radius: 3px;
	font-weight: 700;
	color: #eee4da;
}

.best-score {
	margin-top: 5px;
	display: block;
	text-align: center;
	color: #fff;
}

.time-board {
	grid-area: t;
	display: flex;
	flex-direction: row;
	font-size: 20px;
	gap: 20px;
	justify-content: center;
}

.time-counter {
	width: 87px;
	padding: 6px 17px;
	background-color: #bbada0;
	border-radius: 3px;
	font-weight: 700;
	color: #eee4da;
}

.game-time {
	margin-top: 5px;
	display: block;
	text-align: center;
	color: #fff;
}

.best-time-label {
	width: 134px;
	padding: 6px 12px;
	background-color: #bbada0;
	border-radius: 3px;
	font-weight: 700;
	color: #eee4da;
}

.best-time {
	margin-top: 5px;
	display: block;
	text-align: center;
	color: #fff;
}

#game-field {
	display: none;
	position: relative;
	z-index: 1;
	width: 540px;
	height: 540px;
	gap: 10px;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	padding: 20px;
	border-radius: 6px;
	background-color: #bbada0;
}

.game-over {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 2;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: rgba(238, 228, 218, 0.73);
}

.cells {
	width: 110px;
	height: 110px;
	background-color: rgba(238, 228, 218, 0.35);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 40px;
	color: #776e65;
	border-radius: 3px;
	overflow: hidden;
}

.cells span {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;
}

.cell2 {
	color: #776e65;
	background-color: #eee4da;
}

.cell4 {
	background-color: #eee1c9;
}

.cell8 {
	color: #f9f6f2;
	background-color: #f3b27a;
}

.cell16 {
	color: #f9f6f2;
	background-color: #f69664;
}
.cell32 {
	color: #f9f6f2;
	background-color: #f77c5f;
}

.cell64 {
	color: #f9f6f2;
	background-color: #f75f3b;
}

.cell128 {
	color: #f9f6f2;
	background-color: #edd073;
}

.cell256 {
	color: #f9f6f2;
	background-color: #edcc62;
}

.cell512 {
	color: #f9f6f2;
	background-color: #edc950;
}

.cell1024 {
	color: #f9f6f2;
	background-color: #edc53f;
}

.cell2048 {
	color: #f9f6f2;
	background-color: #edc22e;
}
