/* Обнуление */
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}
/*--------------------------*/

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
}

#game-field {
	display: flex;
	width: 600px;
	height: 600px;
	gap: 10px;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	padding: 20px;
	border-radius: 6px;
	background-color: #776e65;
}

.cells {
	width: 120px;
	height: 120px;
	background-color: rgba(238, 228, 218, 0.35);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 40px;
	color: #776e65;
	border-radius: 3px;
	overflow: hidden;
}

span {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cell2 {
	color: #776e65;
	background-color: #eee4da;
}

.cell4 {
	background-color: #eee1c9;
}

.cell8 {
	color: #f9f6f2;
	background-color: #f3b27a;
}

.cell16 {
	color: #f9f6f2;
	background-color: #f69664;
}
.cell32 {
	color: #f9f6f2;
	background-color: #f77c5f;
}

.cell64 {
	color: #f9f6f2;
	background-color: #f75f3b;
}

.cell128 {
	color: #f9f6f2;
	background-color: #edd073;
}

.cell256 {
	color: #f9f6f2;
	background-color: #edcc62;
}

.cell512 {
	color: #f9f6f2;
	background-color: #edc950;
}

.cell1024 {
	color: #f9f6f2;
	background-color: #edc53f;
}

.cell2048 {
	color: #f9f6f2;
	background-color: #edc22e;
}
